.navbar-brand {
  font-size: 32px !important;
}

.collapse {
  justify-content: flex-end;
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Underline styles */
a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-weight: 800;
}

/* Fade in */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #e3aa49;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.nav-link {
  overflow: hidden;
}

.nav-link::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: translate3d(0, 0, 0);
}

.navbar {
  margin-bottom: 30px;
}
